.tabs {
    flex-wrap: wrap;
    max-width: min(100%, 1344px);
}

.tab_item {
    max-width: 26%;
    font-size: clamp(10px, 3vw, 1.7em);
}

.tab_item:hover {
    opacity: 0.75;
}

input[name="tab_item"] {
    display: none;
}

input[type="radio"] {
    display: none;
}

.tab_content {
    display: none;
    padding: 0px 40px 0;
    clear: both;
    overflow: hidden;
}

.tabs input:checked+.tab_item {
    border-color: #000;
    border-bottom-width: 2px;
    margin-bottom: -1rem;
    color: #000;
}

.favradio input:checked+.tab_item {
    background-color: rgb(52, 141, 214);
    color: rgb(255, 255, 255);
}

.crtfav {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 2em;
    bottom: 2em;
    background: #000000;
    opacity: 0.6;
}