[Unit]
Description = myfav daemon

[Service]
ExecStart = /var/goserv/bin/myfav
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
